In [1]:
!pip3 install selenium

Requirement already satisfied: selenium in c:\users\suraj\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\suraj\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\suraj\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\suraj\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\suraj\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\suraj\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\suraj\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\suraj\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: six>=1.5.2 in c:\users\suraj\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\suraj\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\suraj\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\suraj\anaconda3\lib\site-packages (from BeautifulSoup4) (2.2.1)

In [3]:
# Importing Libraries
import pandas as pd
import numpy as np
import time
import selenium
import requests
import re
from bs4 import BeautifulSoup
from selenium import webdriver 
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings("ignore")

In [4]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [6]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [7]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [8]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Hyundai Grand i10,6.14 Lakh,1.2 Kappa Asta,"29,649 kms",Petrol,Manual
1,2016 Hyundai Creta,11.79 Lakh,1.6 VTVT AT SX Plus,"47,679 kms",Petrol,Automatic
2,2017 Hyundai Verna,9.13 Lakh,VTVT 1.6 SX,"25,598 kms",Petrol,Manual
3,2018 Hyundai Creta,12.25 Lakh,1.6 SX,"46,759 kms",Petrol,Manual
4,2019 Hyundai Santro,5.88 Lakh,Asta BSIV,"8,157 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2013 Hyundai i20,4.65 Lakh,Magna Optional 1.4 CRDi,"42,000 kms",Diesel,Manual
76,2021 Hyundai Verna,15.95 Lakh,SX Opt AT Diesel,"11,000 kms",Diesel,Automatic
77,2014 Renault Duster,6.25 Lakh,85PS Diesel RxL Plus,"60,000 kms",Diesel,Manual
78,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
79,2020 Mercedes-Benz AMG G 63,2.71 Cr,4MATIC,"8,000 kms",Petrol,Automatic

In [9]:
driver.close()

### Ahmedabad

In [10]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [11]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [12]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

In [13]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [14]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2017 Mercedes-Benz S-Class,1.42 Cr,Maybach S500,"5,500 kms",Petrol,Automatic
76,2013 Toyota Fortuner,17.50 Lakh,4x4 MT,"50,000 kms",Diesel,Manual
77,2020 BMW X7,1.18 Cr,xDrive 40i,"14,000 kms",Petrol,Automatic
78,2021 Mercedes-Benz GLS,1.36 Cr,400d 4MATIC,"1,100 kms",Diesel,Automatic
79,2020 Mercedes-Benz AMG G 63,2.71 Cr,4MATIC,"8,000 kms",Petrol,Automatic

In [15]:
driver.close()

### Ahmedabad

In [16]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [17]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [18]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

In [19]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [20]:
df2=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2013 Toyota Fortuner,17.50 Lakh,4x4 MT,"50,000 kms",Diesel,Manual
76,2011 BMW 5 Series,18.50 Lakh,525d Sedan,"3,90,000 kms",Diesel,Automatic
77,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
78,2020 Land Rover Discovery Sport,59.00 Lakh,S Diesel,"34,000 kms",Diesel,Automatic
79,2021 Mercedes-Benz GLS,1.36 Cr,400d 4MATIC,"1,100 kms",Diesel,Automatic

In [21]:
data = [df1, df2]
  
result = pd.concat(data)
display(result)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2013 Toyota Fortuner,17.50 Lakh,4x4 MT,"50,000 kms",Diesel,Manual
76,2011 BMW 5 Series,18.50 Lakh,525d Sedan,"3,90,000 kms",Diesel,Automatic
77,2021 BMW 3 Series Gran Limousine,53.75 Lakh,320Ld Iconic Edition,"12,000 kms",Diesel,Automatic
78,2020 Land Rover Discovery Sport,59.00 Lakh,S Diesel,"34,000 kms",Diesel,Automatic
79,2021 Mercedes-Benz GLS,1.36 Cr,400d 4MATIC,"1,100 kms",Diesel,Automatic

In [22]:
driver.close()

### Mumbai

In [23]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [24]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver.get(url)
time.sleep(6)

In [25]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [26]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [27]:
df3=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Baleno,6.24 Lakh,1.3 Delta,"52,664 kms",Diesel,Manual
1,2015 Hyundai Verna,6.33 Lakh,1.6 VTVT S,"55,906 kms",Petrol,Manual
2,2016 Honda City,6.63 Lakh,i VTEC V,"46,446 kms",Petrol,Manual
3,2015 Toyota Corolla Altis,7.10 Lakh,G MT,"80,056 kms",Petrol,Manual
4,2018 Hyundai Verna,10.17 Lakh,CRDi 1.6 SX Option,"44,281 kms",Diesel,Manual
...,...,...,...,...,...,...
75,2017 Maruti Ciaz,7.25 Lakh,Delta AT,"47,000 kms",Petrol,Automatic
76,2015 Hyundai Grand i10,4.45 Lakh,Asta,"26,000 kms",Petrol,Manual
77,2017 BMW 7 Series,75.00 Lakh,730Ld M Sport,"27,000 kms",Diesel,Automatic
78,2014 Renault Duster,4.85 Lakh,85PS Diesel RxL,"65,000 kms",Diesel,Manual
79,2021 Jeep Compass,26.00 Lakh,1.4 Anniversary Edition DCT 2021-2022,"8,900 kms",Petrol,Automatic

In [28]:
data1 = [result, df3]
  
r1 = pd.concat(data1)
display(r1)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2017 Maruti Ciaz,7.25 Lakh,Delta AT,"47,000 kms",Petrol,Automatic
76,2015 Hyundai Grand i10,4.45 Lakh,Asta,"26,000 kms",Petrol,Manual
77,2017 BMW 7 Series,75.00 Lakh,730Ld M Sport,"27,000 kms",Diesel,Automatic
78,2014 Renault Duster,4.85 Lakh,85PS Diesel RxL,"65,000 kms",Diesel,Manual
79,2021 Jeep Compass,26.00 Lakh,1.4 Anniversary Edition DCT 2021-2022,"8,900 kms",Petrol,Automatic

In [29]:
driver.close()

### Jaipur

In [30]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [31]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver.get(url)
time.sleep(6)

In [32]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [33]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,("//div[@class='gsc_col-xs-7  carsName']/a"))
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,("//span[@class='amnt ']"))
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,("//div[@class='car_variant']"))
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [34]:
df4=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df4

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2021 Hyundai Venue,12.60 Lakh,SX Plus Turbo DCT,"8,639 kms",Petrol,Automatic
1,2017 Honda City,7.40 Lakh,i-VTEC V,"60,411 kms",Petrol,Manual
2,2018 Honda City,9.00 Lakh,i-VTEC CVT ZX,"26,186 kms",Petrol,Automatic
3,2020 Renault Triber,5.80 Lakh,RXL,"43,600 kms",Petrol,Manual
4,2020 Honda City,13.30 Lakh,ZX CVT,"36,410 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2018 Maruti Ciaz,7.66 Lakh,1.3 Delta,"54,000 kms",Diesel,Manual
76,2017 Mercedes-Benz E-Class,29.75 Lakh,E250 CDI Avantgarde,"52,000 kms",Diesel,Automatic
77,2021 BMW 5 Series,64.00 Lakh,520d Luxury Line,"8,900 kms",Diesel,Automatic
78,2021 Honda City,9.65 Lakh,SV MT,"3,500 kms",Petrol,Manual
79,2019 Renault Triber,6.65 Lakh,RXZ,"34,000 kms",Petrol,Manual

In [35]:
data2 = [r1,df4]
r2 = pd.concat(data2)
display(r2)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2018 Maruti Ciaz,7.66 Lakh,1.3 Delta,"54,000 kms",Diesel,Manual
76,2017 Mercedes-Benz E-Class,29.75 Lakh,E250 CDI Avantgarde,"52,000 kms",Diesel,Automatic
77,2021 BMW 5 Series,64.00 Lakh,520d Luxury Line,"8,900 kms",Diesel,Automatic
78,2021 Honda City,9.65 Lakh,SV MT,"3,500 kms",Petrol,Manual
79,2019 Renault Triber,6.65 Lakh,RXZ,"34,000 kms",Petrol,Manual

In [36]:
driver.close()

### Gurgaon

In [37]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [38]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver.get(url)
time.sleep(6)

In [39]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [40]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [41]:
df5=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Tata Nexon,8.22 Lakh,1.5 Revotorq XZA Plus,"69,828 kms",Diesel,Automatic
1,2020 Tata Altroz,5.98 Lakh,XE,"11,936 kms",Petrol,Manual
2,2021 Maruti Vitara Brezza,10.28 Lakh,ZXI,"8,481 kms",Petrol,Manual
3,2019 Honda City,12.68 Lakh,i-VTEC CVT ZX,"69,918 kms",Petrol,Automatic
4,2017 Volkswagen Ameo,4.43 Lakh,1.2 MPI Trendline,"61,931 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2016 Mercedes-Benz E-Class,30.50 Lakh,E200 Edition E,"31,000 kms",Petrol,Automatic
76,2019 Renault Triber,6.65 Lakh,RXZ,"34,000 kms",Petrol,Manual
77,2017 Mercedes-Benz E-Class,29.75 Lakh,E250 CDI Avantgarde,"52,000 kms",Diesel,Automatic
78,2021 Mercedes-Benz GLS,1.36 Cr,400d 4MATIC,"1,100 kms",Diesel,Automatic
79,2018 Ford Ecosport,8.64 Lakh,1.5 Petrol Titanium Plus AT BSIV,"33,000 kms",Petrol,Automatic

In [42]:
data3= [r2, df5]
  
r3 = pd.concat(data3)
display(r3)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2016 Mercedes-Benz E-Class,30.50 Lakh,E200 Edition E,"31,000 kms",Petrol,Automatic
76,2019 Renault Triber,6.65 Lakh,RXZ,"34,000 kms",Petrol,Manual
77,2017 Mercedes-Benz E-Class,29.75 Lakh,E250 CDI Avantgarde,"52,000 kms",Diesel,Automatic
78,2021 Mercedes-Benz GLS,1.36 Cr,400d 4MATIC,"1,100 kms",Diesel,Automatic
79,2018 Ford Ecosport,8.64 Lakh,1.5 Petrol Titanium Plus AT BSIV,"33,000 kms",Petrol,Automatic

In [43]:
driver.close()

### DELHI NCR

In [44]:
#connect to the webdriver
driver = webdriver.Chrome("chromedriver.exe")

In [45]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver.get(url)
time.sleep(6)

In [46]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

In [47]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements(By.XPATH,"//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements(By.XPATH,"//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements(By.XPATH,"//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements(By.XPATH,("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [48]:
df6=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Tata Nexon,8.22 Lakh,1.5 Revotorq XZA Plus,"69,828 kms",Diesel,Automatic
1,2020 Tata Altroz,5.98 Lakh,XE,"11,936 kms",Petrol,Manual
2,2021 Maruti Vitara Brezza,10.28 Lakh,ZXI,"8,481 kms",Petrol,Manual
3,2019 Honda City,12.68 Lakh,i-VTEC CVT ZX,"69,918 kms",Petrol,Automatic
4,2017 Volkswagen Ameo,4.43 Lakh,1.2 MPI Trendline,"61,931 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2017 Mercedes-Benz E-Class,29.75 Lakh,E250 CDI Avantgarde,"52,000 kms",Diesel,Automatic
76,2021 BMW 5 Series,64.00 Lakh,520d Luxury Line,"8,900 kms",Diesel,Automatic
77,2021 Honda City,9.65 Lakh,SV MT,"3,500 kms",Petrol,Manual
78,2019 Renault Triber,6.65 Lakh,RXZ,"34,000 kms",Petrol,Manual
79,2021 Maruti Ciaz,8.75 Lakh,Sigma BSIV,"14,000 kms",Petrol,Manual

In [49]:
data4 = [r3, df6]
  
r4 = pd.concat(data4)
display(r4)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Renault KWID,3.26 Lakh,RXL,"34,972 kms",Petrol,Manual
1,2017 Maruti Ciaz,6.73 Lakh,1.4 Delta,"34,878 kms",Petrol,Manual
2,2017 Volkswagen Vento,7.53 Lakh,1.2 TSI Highline AT,"49,612 kms",Petrol,Automatic
3,2020 Honda City,9.90 Lakh,V MT,"38,749 kms",Petrol,Manual
4,2018 Honda Jazz,6.89 Lakh,V CVT,"64,554 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2017 Mercedes-Benz E-Class,29.75 Lakh,E250 CDI Avantgarde,"52,000 kms",Diesel,Automatic
76,2021 BMW 5 Series,64.00 Lakh,520d Luxury Line,"8,900 kms",Diesel,Automatic
77,2021 Honda City,9.65 Lakh,SV MT,"3,500 kms",Petrol,Manual
78,2019 Renault Triber,6.65 Lakh,RXZ,"34,000 kms",Petrol,Manual
79,2021 Maruti Ciaz,8.75 Lakh,Sigma BSIV,"14,000 kms",Petrol,Manual

In [50]:
driver.close()

In [51]:
r4.to_excel("Used_Cars_Data.xlsx")

In [52]:
r4.to_csv("Used_Cars_Data.csv")